.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.input {
  cursor: pointer;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.content {
  text-align: left;
  min-width: 50%;
}

.completed {
  text-decoration: line-through;
}

.delete {
  color: darkorange;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.delete:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .inputContainer {
    padding: 0;
  }

  .contentContainer {
    padding: 0 10px;
  }

  .content {
    min-width: 80%;
  }
}
